.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#index-message {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    text-align: center;  
}

#index-message img {
    width: 50%;  
    height: auto; 
}


.social-media {
    display: flex;
    justify-content: space-around;

}